pandas
pandas_ta
pandas_datareader
numpy
seaborn
matplotlib
scipy
tensorflow==2.12.0
scikit-learn
Flask
Flask-Cors
dvc
mlflow==2.2.2
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
gdown
#-e .